# La siguiente línea es para mejorar la seguridad de las cookies
# proxy_cookie_path / "/; Secure; HttpOnly; SameSite=None";
add_header Permissions-Policy "publickey-credentials-get=(self), publickey-credentials-create=(self), fullscreen=(self)" always;
