KC_HOSTNAME=iam.nombre.de.dominio
JAVA_OPTS=-Xms512m -Xmx1024m
KC_DB_USERNAME=x[username]x
KC_DB_PASSWORD=x[password]x
KC_DB=postgres
KC_DB_URL_HOST=x[postgreshost]x
KC_DB_URL_DATABASE=x[databasename]x
# HTTPS_METHOD=noredirect
# KC_BOOTSTRAP_ADMIN_USERNAME=admin
# KC_BOOTSTRAP_ADMIN_PASSWORD=admin123