:root {
  --keycloak-logo-url: url('../img/cyt_logo.png');
  --keycloak-bg-logo-url: url("../img/fondo_gris.jpg");
  --keycloak-logo-height: 63px;
  --keycloak-logo-width: 20rem;
}

body {
  background: var(--keycloak-bg-logo-url) no-repeat center center fixed !important;
  background-size: cover !important;
}
.kc-login {
  align-items: center;
  min-height: 100vh;
}

div.kc-logo-text {
    background-image: var(--keycloak-logo-url);
    height: var(--keycloak-logo-height);
    width: var(--keycloak-logo-width);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
div.kc-logo-text span {
    display: none;
}

.kc-login .contenedor {
  max-width: 35rem !important;
  align-items: center;
}
.kc-login main {
  min-height: auto;
}

.kc-input-group {
  display: flex;
  width: 100%;
}
.kc-input-group-item.kc-fill {
  flex: 1;
}
.kc-input-group-item input {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.kc-form-password-visibility-button {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.kc-button-block {
  display: block;
  width: 100%;
}
input[type="button"], input[type="submit"], input[type="reset"], .boton.boton-chico {
  font-size: .875rem !important;
  padding: 8px !important;
}

.provides-social-account-list {
  list-style: none;
}
.provides-social-account-item {
  margin-block: 0;
  height: fit-content;
}
.provides-social-account-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
