body {
  background: url('/img/fondo_gris.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.login-keycloak {
  max-width: 35rem !important;
}
.login-keycloak header img {
  width: 20rem;
}

.provides-social-account-list {
  list-style: none;
}
.provides-social-account-item {
  margin-block: 0;
  height: fit-content;
}
.provides-social-account-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
